body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	min-height: 100vh;
	margin: 0;
	background-color: #333;
}

h1 {
	font-size: 20px;
	font-weight: 400;
	color: #eee;
}

.canvas {
	box-shadow: 0 4px 16px #0008;
	max-width: calc(100vw - 40px);
	max-height: calc(100vh - 130px);
}

.flex {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.button {
	background-color: #bbb;
	border: none;
	outline: none;
	width: 40px;
	height: 40px;
	margin: 0 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color .1s;
}

.button:hover {
	background-color: #ccc;
}

.icon-reset {
	background-image: url(images/reset.svg);
	background-size: 20px;
}

.icon-play {
	background-image: url(images/play.svg);
	background-size: 13px;
}

.icon-pause {
	background-image: url(images/pause.svg);
	background-size: 14px;
}

.icon-download {
	background-image: url(images/download.svg);
	background-size: 16px;
}

input[type="range"] {
	width: 140px;
	margin: 10px;
}